examples/n8n/01-capture-via-api.json
{
  "name": "Seiton Brain — Capture via API",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-1111-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "b2c3d4e5-2222-4000-8000-000000000002",
              "name": "text",
              "value": "Neue Idee: Portfolio-Website mit n8n-Integration dokumentieren",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-2222-4000-8000-000000000002",
      "name": "Beispiel-Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/v1/capture",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Seiton-Api-Key",
              "value": "REPLACE_WITH_SEITON_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.text }}\"\n}",
        "options": {}
      },
      "id": "c3d4e5f6-3333-4000-8000-000000000003",
      "name": "Seiton Capture",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "content": "## Seiton Brain E14-1\n\nErsetze `REPLACE_WITH_SEITON_API_KEY` und passe die Base-URL an.\n\nDoku: examples/n8n/README.md",
        "height": 180,
        "width": 320
      },
      "id": "d4e5f6a7-4444-4000-8000-000000000004",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [220, 80]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Beispiel-Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Beispiel-Text": {
      "main": [
        [
          {
            "node": "Seiton Capture",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e14-01-capture-via-api",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "seiton-brain"
    }
  ]
}
