examples/n8n/04-knowledge-backend-on-indexed.json
{
  "name": "Seiton Brain — Knowledge Backend (on indexed)",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-4444-4000-8000-000000000041",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "sample-title",
              "name": "title",
              "value": "Async DB in Celery",
              "type": "string"
            },
            {
              "id": "sample-vault-path",
              "name": "vault_path",
              "value": "Work/Async DB in Celery.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-4444-4000-8000-000000000042",
      "name": "Simuliert note.indexed",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://host.docker.internal:8000/v1/notes/search?q={{ encodeURIComponent($json.title) }}&semantic=true&limit=3",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Seiton-Api-Key",
              "value": "REPLACE_WITH_SEITON_API_KEY"
            }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-4444-4000-8000-000000000043",
      "name": "Semantische Suche",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "result-msg",
              "name": "message",
              "value": "=Brain lieferte {{ $json.results.length }} Treffer fuer \"{{ $('Simuliert note.indexed').item.json.title }}\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-4444-4000-8000-000000000044",
      "name": "Ergebnis — Slack/Mail hier",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [920, 300]
    },
    {
      "parameters": {
        "content": "## E17-7 Knowledge Backend\n\nSimuliert den Payload von `note.indexed` und ruft die Retrieval-API auf.\n\nLive: Ausgang **Indexed — Retrieval hier** in Workflow 02 hier anschliessen (oder eigenen Webhook-Filter auf `note.indexed`).\n\nVoraussetzung: `EMBEDDINGS_ENABLED=true` + Backfill-Sync.\n\nDoku: docs/integrations/knowledge-retrieval.md",
        "height": 220,
        "width": 380
      },
      "id": "e5f6a7b8-4444-4000-8000-000000000045",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 60]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Simuliert note.indexed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simuliert note.indexed": {
      "main": [
        [
          {
            "node": "Semantische Suche",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantische Suche": {
      "main": [
        [
          {
            "node": "Ergebnis — Slack/Mail hier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e17-07-knowledge-backend",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "seiton-brain"
    }
  ]
}
